.header-wrap
  background: rgb(150,170,205)

.all__content
  height: 100%

.sidebar__logo
  display: flex
  justify-content: center
  align-items: center
  height: 50px
  box-shadow: 0 0.125rem 0.625rem rgba(90,97,105,.12)
  background: rgb(150,170,205)
  border-bottom: 1px solid #007bff

.row
  display: flex
  flex-wrap: wrap

.nav_list
  margin: 0px

.nav_list li
  list-style-type: none
  cursor: pointer

.main-sidebar
  height: 100%
  box-shadow: 0 0.125rem 0.625rem rgba(90,97,105,.12)
  background: rgba(150,170,205,.12)

.sidebar-nav
    height: 100%

.sidebar__list
  padding: 0

.sidebar__button
  list-style-type: none
  padding: 10px 20px
  margin-bottom: 2px
  cursor: pointer
  position: relative

.sdb__button-name
  padding-left: 10px

.sdb__link
  color: #212529
  width: 100%
  display: flex
  flex-wrap: wrap
  align-items: center

.sdb__link:hover
  color: #712510
  text-decoration: none

.content__value
    word-break: break-all
