.hrader-wrap
  padding: 10px 20px 10px 20px
  border-bottom: 1px solid #007bff
  margin-bottom: 30px

.header__button
  margin-right: 10px

.form__name
  margin-bottom: 50px

.login-label, .pass-label, .name-label, .phone-label
  color: #fff
  background-color: #007bff
  border-color: #007bff
